#root {
  width: 1280px;
  /* max-width: 1280px; */
  /* overflow-x: auto; */
  margin: 0 auto;
  /* text-align: center; */
}

/* body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

main {
  padding: 10px;
} */