:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fff;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #131635;
}
body {
  font-size: 11.7px;
    line-height: 18px;
    color: #131635;
}

a:hover {
  color: #535bf2;
}